.step-counter{
    margin:auto;
    width: 100%;
    height:100vh;
    background: linear-gradient(white, lightblue);
}
.steps{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}